/* 清除浮动 */
.cl-clear {
  zoom: 1;
}

.cl-clear:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
  height: 0;
}

p {
  margin: 0;
}

.cl-header {
  height: 680px;
  background: #58aa32;
}

.cl-header-content {
  width: 1200px;
  margin: 0 auto;
}

.cl-header-row {
  padding-top: 118px;
}

.cl-header-col {
  float: left;
}

.cl-header-col:nth-child(2) {
  width: 685px;
}

.cl-header-logo {
  margin-top: 18px;
}

.cl-header-tit {
  margin-top: 69px;
}

.cl-header-tit p {
  height: 36px;
  line-height: 36px;
  color: #ffffff;
  font-size: 36px;
}

.cl-header-info {
  padding-top: 20px;
}

.cl-header-info-p {
  height: 26px;
  line-height: 26px;
  color: #ffffff;
  font-size: 16px;
}

.cl-header-download {
  margin-top: 108px;
}

.cl-header-download-button {
  display: inline-block;
  width: 180px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.cl-header-img {
  margin-top: 24px;
}

.cl-content {
  background: #f7f7f7;
}

.cl-content-inner {
  width: 1182px;
  margin: 0 auto;
}

.cl-content-title {
  padding-top: 110px;
}

.cl-content-title-cn {
  text-align: center;
}

.cl-content-title-cn span {
  display: inline-block;
  height: 62px;
  line-height: 62px;
  color: #333333;
  font-size: 32px;
  border-bottom: 2px solid #58aa32;
}

.cl-content-title-en {
  text-align: center;
}

.cl-content-title-en span {
  height: 46px;
  line-height: 46px;
  color: #666666;
  font-size: 24px;
}
