/* 清除浮动 */
.cl-clear {
  zoom: 1;
}

.cl-clear:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

p {
  margin: 0;
}

.cl-header {
  height: 680px;
  background: #58aa32;
}

.cl-header-content {
  width: 1200px;
  margin: 0 auto;
}

.cl-header-row {
  padding-top: 118px;
}

.cl-header-col {
  float: left;
}

.cl-header-col:first-child {
  width: 513px;
}

.cl-header-col:nth-child(2) {
  width: 685px;
}

.cl-header-logo {
  margin-top: 18px;
}

.cl-header-tit {
  margin-top: 69px;
}

.cl-header-tit p {
  line-height: 36px;
  color: #ffffff;
  font-size: 36px;
}

.cl-header-info {
  padding-top: 20px;
}

.cl-header-info-p {
  height: 26px;
  line-height: 26px;
  color: #ffffff;
  font-size: 16px;
}

.cl-header-download {
  margin-top: 108px;
}

.cl-header-download-button {
  display: inline-block;
  width: 180px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.cl-header-img {
  margin-top: 24px;
  font-size: 0;
}

.cl-header-img img {
  width: 100%;
}

.cl-content {
  background: #f7f7f7;
}

.cl-content-inner {
  width: 1182px;
  margin: 0 auto;
}

.cl-content-title {
  padding-top: 110px;
}

.cl-content-title-cn {
  text-align: center;
}

.cl-content-title-cn span {
  display: inline-block;
  height: 62px;
  line-height: 62px;
  color: #333333;
  font-size: 32px;
  border-bottom: 2px solid #58aa32;
}

.cl-content-title-en {
  text-align: center;
}

.cl-content-title-en span {
  height: 46px;
  line-height: 46px;
  color: #666666;
  font-size: 24px;
}

.cl-content-row {
  margin-top: 60px;
}

.cl-content-col {
  float: left;
}

.cl-content-one-item {
  margin-right: 52px;
  padding-top: 40px;
  width: 249px;
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 4px 4px 10px -2px rgba(35, 24, 21, 0.1);
}

.cl-content-one-item:first-child {
  margin-left: 15px;
}

.cl-content-one-item:last-child {
  margin-right: 0;
}

.cl-content-one-tit {
  margin-top: 20px;
}

.cl-content-one-tit p {
  height: 62px;
  line-height: 62px;
  font-size: 24px;
  color: #000000;
}

.cl-content-one-info {
  height: 150px;
  margin: 0 20px;
  text-align: left;
}

.cl-content-one-info p {
  line-height: 26px;
  font-size: 14px;
  color: #666666;
}

.cl-content-ser-item {
  margin-right: 22px;
  padding-bottom: 140px;
  text-align: center;
}

.cl-content-ser-item:first-child {
  margin-left: 14px;
}

.cl-content-ser-item:last-child {
  margin-right: 0;
}

.cl-content-ser-img {
  font-size: 0;
}

.cl-content-ser-tit p {
  height: 75px;
  line-height: 75px;
  font-size: 28px;
  color: #333333;
}

.cl-footer-col {
  float: left;
}

.cl-footer-inner {
  background: #e3e3e3;
}

.cl-footer-row {
  width: 1182px;
  margin: 0 auto;
}

.copy-right {
  background: #d9d9d9;
}

.copy-right p {
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 14px;
  color: #000000;
}

.cl-footer-center {
  width: 364px;
}

.cl-footer-right {
  width: 406px;
}

.cl-footer-col {
  height: 300px;
}

.cl-footer-left {
  width: 408px;
}

.cl-footer-line {
  position: relative;
  width: 2px;
}

.cl-footer-center,
.cl-footer-right {
  text-align: center;
}

.cl-footer-line span {
  position: absolute;
  top: 71px;
  left: 0;
  display: inline-block;
  height: 158px;
  width: 2px;
  background: url(../images/line.png) no-repeat;
}

.cl-footer-code {
  margin-top: 85px;
  margin-bottom: 11px;
  font-size: 0;
}

.cl-footer-text {
  font-size: 14px;
  color: #333333;
}

.cl-footer-tit {
  margin-top: 45px;
}

.cl-footer-tit p {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #333333;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cl-footer-dl {
  margin-top: 36px;
}

.cl-footer-green-line {
  margin-top: 36px;
  margin-bottom: 16px;
  width: 14px;
  height: 4px;
  background: #58aa32;
}

.cl-footer-li {
  height: 36px;
  line-height: 36px;
}

.cl-footer-li span {
  font-size: 16px;
  color: #333333;
}
